.navbar_main_page {
  background-color: rgba(44, 205, 245, 0.178);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

.push {
  margin-left: auto;
}

.navbar_main_page li a {
  float: left;
  display: block;
  color: navy;
  text-align: center;
  padding: 30px 30px 20px;
  text-decoration: none;
  font-size: 20px;
}

.navbar_main_page li a:hover {
  font-size: 20px;
  color: royalblue;
  border-bottom: 3px solid royalblue;
}

.wrapper {
  padding: 67px;
}

.title {
  text-align: center;
  word-spacing: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 60;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left screen side */
.left {
  left: 0;
  background-color: honeydew;
  padding: 30px 0px;
}

/* Control the right screen side */
.right {
  right: 0;
  background-color: none;
  margin-right: -50px;
}

.content-subpage {
  margin-left: 30px;
}

.content-subpage ul {
  font-size: 20px;
}

.content-subpage li {
  padding-top: 15px;
}

.content-right {
  margin-bottom: 20%;
}
