<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/homework.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/title_icon.ico">
    <title>about 子安</title>
</head>

<body>
    <header id="top-nav">
        <div>
            <ul class="navbar_main_page">
                <li><a href="zionn.html">About Me</a></li>
                <li class="push"><a href="homework.html">自傳與唸研究所動機</a></li>
                <li><a href="learning.html">讀書計畫</a></li>
                <li><a href="psy_to_ds.html">PSY to DS</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="content-page">
            <div class="split left">
                <div class="autobio">
                    <h1>自傳</h1>
                    <h3>成長背景</h3>
                    <p>&emsp;&emsp;我出生於富有溫暖的家庭，家中有一位弟弟與一位妹妹，如今仍在馬來西亞求學。媽媽原是一位國立小學的教師，直到妹妹出世之後就辭掉工作在家照顧妹妹；而爸爸則是一名會計師。父母從小就教育我們三個孩子要養成親切待人的習慣，時時微笑面對各種困境，在這樣的家庭教育之下，我自然成為了父母光亮的影子。自己從中學一年級開始就遠離家裡，到另一個城市升學，成為了寄宿學校的學生，所以自己在長達6年的中學生涯中學習到了自律的重要性。在中學畢業之後來到台灣-成功大學繼續深造。即使我們家並不富貴，但父母一直都無微不至地養育我們三位孩子，這讓我十分感動，尤其自己早在10年前就一直遠離家裡，並不常有時間陪伴在他們身邊，如今遠在台灣的每一次通話與視訊是更顯珍貴。因為父母親不懈的工作，努力支付著我們家孩子的升學費用和生活費，讓我得以在成大與優秀的同儕一起受教育。這份感動就一直陪伴著我度過了整個大學過程。
                    </p>
                    <h3>學習歷程</h3>
                    <p>&emsp;&emsp;通過大學志願申請的我入學了成大，就讀資源工程系，在經過一個學期系上課程的洗禮之後，知覺到自己的興趣是在心理相關領域，故轉系到了自己的心願科系-心理系。在理科背景下，即使是心理系我也唸得有點吃力。但所幸在心理系的大學生涯中自己也找到了心理領域當中自己感興趣並能有熱情的地方——數據與資工領域。之後的每個學期中除了專心修系系上的專業課程，自己也積極到外系修習不一樣的程式、統計、數據課程。再加上自己經過多年心理系的薰陶，在看待統計學與數據相關知識都能以有別其他人的眼光與觀點來詮釋那些領域知識，這同時也讓我感到很榮幸。在大學期間，自己也用了一年半的時間來學西班牙文，因為學習新語言也是一種快速開拓視野的方式，自己也非常樂在其中。
                    </p>
                    <h3>活動經歷</h3>
                    <p>&emsp;&emsp;自己在大學時期，不但專注在課業上，同時也積極參與許多不同的活動與工作坊。在大一至大三間，自己在參與不同的迎新、宿營之外，也會參與迎新、宿營之籌辦活動（馬來西亞雪州留台同學會、馬來西亞留台同學會、成大馬來西亞同學會、成大僑生聯合會等等）。在這些不同的營隊中學習到如何與同儕溝通、如何妥善分配時間、團隊合作精神等等。自己目前也是成大資料分析社的社員，在一次次的課程與工作坊中都在鞏固自己對資料/數據的敏感度與處理/分析能力。
                    </p>
                </div>
            </div>
        </div>
        <div class="split right">
            <div class="motivation">
                <h1>申請研究所動機</h1>
                <h3>背景</h3>
                <p>&emsp;&emsp;在好幾次的資料分析社職涯分享會中，有著許多來自台灣與美國的資料工程師、資料分析師、資料科學家與我們分享資料職涯上的大小事務，也讓自己更加確信自己想要繼續攻研這個領域的想法。正因為自己的心理系背景，更是讓自己知道在現今社會想要更深入人類行為甚至進行預測，就不得不依靠數據的力量。
                </p>
                <h3>提升自身價值與競爭力</h3>
                <p>&emsp;&emsp;大學期間不論是課程上所吸收的知識，或是活動上所獲得的體悟與辦事能力，均是為了奠定往後升學與就業之基礎。在現今競爭激烈的社會，就讀研究所可以擺脫過去制式化的學習，在時間逼迫下，訓練自身安排時間之能力，且為了解決問題會開始思考問題所在來源，以及訓練自己解決問題之能力。將運用過去四年之所學，繼續攻讀研究所，鑽研有興趣之領域，也期許自己能將碩班兩年辛苦所學，更靈活用於未來職場或是學術領域之中，同時回報社會。
                </p>
                <h3>拓展人際關係</h3>
                <p>&emsp;&emsp;俗話說：「在家靠爸媽，在外靠朋友。」良好之人際關係有助於未來之發展，把握就讀研究所之機會，可以多方認識數據、資訊相關教授、業界相關人士，或是周遭優秀同儕，在未來發展上若有良好之人際關係，即可如虎添翼般的獲得諸多協助。
                </p>
            </div>
        </div>
    </div>
</body>

</html>