<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/learning.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/title_icon.ico">
    <title>about 子安</title>
</head>

<body>
    <header id="top-nav">
        <div>
            <ul class="navbar_main_page">
                <li><a href="zionn.html">About Me</a></li>
                <li class="push"><a href="homework.html">自傳與唸研究所動機</a></li>
                <li><a href="learning.html">讀書計畫</a></li>
                <li><a href="psy_to_ds.html">PSY to DS</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="content-page">
            <div class="split left">
                <div class="regular">
                    <h3>長期</h3>
                    <li>盡可能的閱讀或觀看原文書與英文參考資料，培養英文閱讀與聽力。</li>
                    <li>每週隨哈佛CS50在Youtube上的更新，定期觀看（每次都會有些新內容）。</li>
                    <li>閱讀相關領域之文獻（自己對自然語言處理之深度學習模型有很大的興趣）。</li>
                    <h3>寒假</h3>
                    <li>盡可能補足自己在統計概念上所不理解的資料分析概念。</li>
                    <li>目前規劃會著重在「Bayesian Inference」上。</li>
                    <h3>暑假</h3>
                    <li>繼續加強加深在「Statistical Learning」上的概念與實務運用。</li>
                    <li>目前規劃會著重在自然語言處理之模型建構上。</li>
                    <li>如有機會希望可以申請到軟體公司的數據部實習。</li>
                </div>
            </div>
        </div>
        <div class="split right">
            <div class="master">
                <h3>這學期</h3>
                <li>修習「資料科學導論」、「Python程式語言與互動式遊戲設計」、「機器與深度學習概論與實務」。
                </li>
                <li>Udemy網路課程「Natural Language Processing (NLP) with BERT」。
                </li>
                <li>成大資料分析社之課程與工作坊。
                </li>
                <h3>下學期</h3>
                <li>修習數據所的「深度學習」、統計系的「機器學習」、資訊系「演算法」。</li>
                <li>Udemy網路課程「Deployment of Machine Learning Models」。</li>
                <h3>碩一</h3>
                <li>修習「專題討論一、二」、「資料科學」、「最佳化方法」、「社群網路與推薦系統」、「資料庫系統與實務」、「可解釋人工智慧專題討論」。</li>
                <li>參與台灣國內外研討會。</li>
                <li>準備英檢。</li>
                <h3>碩二</h3>
                <li>修習「專題討論一、二」、「統計方法」、「高頻財務資料分析」、「多核CPU和GPU計算」、「高等人工智慧特論」、「應用學習方式於人與機器人之互動」。</li>
                <li>參與台灣國內外研討會。</li>
                <li>希望可以參加不同的職涯分享會，了解數據人於公司內部運作與研究內容。</li>
            </div>
        </div>
    </div>
</body>

</html>