<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/psy_to_ds.css" />
    <link rel="icon" type="image/x-icon" href="../static/images/title_icon.ico">
    <title>about 子安</title>
</head>

<body>
    <header id="top-nav">
        <div>
            <ul class="navbar_main_page">
                <li><a href="zionn.html">About Me</a></li>
                <li class="push"><a href="homework.html">自傳與唸研究所動機</a></li>
                <li><a href="learning.html">讀書計畫</a></li>
                <li><a href="psy_to_ds.html">PSY to DS</a></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="content-page">
            <div class="split left">
                <div class="content-subpage">
                    <h1>Coursework Experience & Skills</h1>
                    <ul class="coursework-experience-skills">
                        <li>Statistics in Psychology and Education 1 & 2<br><i>&#60; R, Statistics &#62;</i></li>
                        <li>Computational Thinking and Problem Solving<br><i>&#60; Python, Problem Solving in Python
                                &#62;</i>
                        </li>
                        <li>Programming For Social Scientists<br><i>&#60; Python, Web Scraping, Basic NLP, Data
                                Analysis,
                                Data Visualization &#62;</i></li>
                        <li>Design Thinking Meets a Data Science Rookie<br><i>&#60; Problem Solving From Data
                                Scientist's
                                View &#62;</i></li>
                        <li>Python Programming and Interactive Game Design<br><i>&#60; Python, Game Development, Code
                                Review &#62;</i></li>
                        <li>Introduction of Data Science<br><i>&#60; Python, Statistical Learning, Machine Learning,
                                Machine Learning From Scratch &#62;</i></li>
                        <li>Introduction and Practicum of Deep Learning in Machine Learning<br><i>&#60; Python, Data
                                Visualization, Machine Learning / Deep Learning Model, Statistical Learning &#62;</i>
                        </li>
                        <li>Udemy, Natural Language Processing (NLP) with BERT<br><i>&#60; NLP Process, NLP in Deep
                                Learning Model &#62;</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="split right">
            <div class="content-right">
                <h1>相關文件證明 - more projects on <a href="https://github.com/onnnnn" target="blank">Github</a></h1>
                <h3>Programming For Social Scientists</h3>
                <img src="../static/images/pfss.jpg" height="600">
                <br>
                <h3>Python Programming and Interactive Game Design</h3>
                <img src="../static/images/ppaigd.jpg" height="600">
                <br>
                <img src="../static/images/python1.png" height="600">
                <br>
                <img src="../static/images/python2.jpg" height="600">
                <br>
                <img src="../static/images/kaggle1.png" weight="400">
                <br>
                <img src="../static/images/kaggle2.png" weight="400">
                <br>
                <img src="../static/images/kaggle3.png" weight="400">
            </div>
        </div>
    </div>
</body>

</html>